.stepList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 36px;
  align-self: stretch;
}

.stepItem {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.stepNumber {
 display: flex;
width: 26px;
height: 26px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
aspect-ratio: 1/1;
border-radius: 6px;
background: var(--Atomic-Blue-50, #E5EDFF);
color: var(--Atomic-Blue-600, #0049E5);
text-align: center;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 19.2px; /* 120% */
}



.stepText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.stepTitle {
color: var(--Atomic-Mono-800, #1D1D1D);

/* Title 3/Bold */
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 120% */
}

.stepDesc {
color: var(--Atomic-Mono-500, #919191);

/* Body 2/Normal - Medium */
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 19.2px; /* 120% */
}
